{% extends '@AolrUser/base.html.twig' %}

{% block title %}{{ parent() }} | Forgot password{% endblock %}
{% trans_default_domain 'aolr_user' %}
{% block auth_wrapper %}
    {{ form_start(form) }}
        <a href="/" class="login-logo">
            <img src="{{ asset(aolrUserConfig.logo) }}" alt="aolr">
        </a>
        <h6 class="pb-4">{{ 'forgot_password.tip'|trans({'%publisher%':aolrUserConfig.publisherName}) }}</h6>
        {{ form_row(form.email) }}
        {{ form_rest(form) }}
        <div class="actions pt-4">
            <a href="{{ path('app_login') }}" >{{ 'forgot_password.sign_in'|trans }}</a>
            <button type="submit" class="btn btn-danger float-end">{{ 'forgot_password.submit'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
