{% extends '@AolrUser/base.html.twig' %}

{% block title %}{{ parent() }} | Reset Password{% endblock %}
{% trans_default_domain 'aolr_user' %}
{% block auth_wrapper %}
    {{ form_start(form) }}
        <a href="/" class="login-logo">
            <img src="{{ asset(aolrUserConfig.logo) }}" alt="aolr">
        </a>

        <h6 class="mb-4">{{ 'reset_password.tip'|trans({'%email%': user.email}) }}</h6>

        {{ form_rest(form) }}
        <div class="actions pt-4">
            <a href="{{ path('app_login') }}" >{{ 'reset_password.sign_in'|trans }}</a>
            <button type="submit" class="btn btn-danger float-end">{{ 'reset_password.reset'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
